<h1 class="h-title">Flag Tag</h1>

<div class="row">
  <div class="col s7">
  <ul class="collection">
    <li class="collection-item">The rules are simple.</li>

    <li class="collection-item">Pick an area to play in.</li>

    <li class="collection-item">Each player lays a virutal flag.</li>

    <li class="collection-item">Try to be the first player to reach another player's flag.</li>

    <li class="collection-item">Points are awarded in the order of arrivals.  The first player to get to a flag gets the most points, the last player gets the least.</li>

    <li class="collection-item">You can move your flags location, but first you have to go back to where you left it.</li>

    <li class="collection-item">The player with the most points after the time limit is up wins.</li>
  </ul>
  </div>

  <div class="col s5">
    <div class="card-panel gray z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s4">
          <img src="images/claire.png" class="circle responsive-img" />
        </div>
        <div class="col s8">
          <span class="black-text">Goats are like mushrooms</span>
        </div>
      </div>
    </div>
  </div>


  <div class="col s5">
    <div class="card-panel gray z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s4">
          <img src="images/batman.png" class="circle responsive-img" />
        </div>
        <div class="col s8">
          <span class="black-text">If you shoot a duck</span>
        </div>
      </div>
    </div>
  </div>


  <div class="col s5">
    <div class="card-panel gray z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s4">
          <img src="images/gary.png" class="circle responsive-img" />
        </div>
        <div class="col s8">
          <span class="black-text">I'm afraid of toasters</span>
        </div>
      </div>
    </div>
  </div>

</div>
