<form ng-submit="create()">
  <h3 class="h-game">Create A Game</h3>
  <div class="row"> <!-- map row -->
    <div class="col s12">
      <div id="map-canvas">
      </div>
      <h6 class="subtext">Click to place marker</h6>
   </div>
  </div> <!-- map row -->


  <div class="row">
    <div class="col s12">

      <h5 class="h-prompt">Invite up to 10 of your friends</h5>
      <div class="row">
        <div class="col input-field s6">
          <i class="mdi-navigation-fullscreen prefix"></i>
          <input id="radius" type="text" class="validate" ng-model="radius"/>
          <label for="radius">Play Radius (miles)</label>
        </div>
      </div>

      <div class="row">
        <div class="col input-field s6">
          <i class="mdi-device-access-alarm prefix"></i>
          <input id="time" type="text" class="validate" ng-model="time"/>
          <label for="time">Time Limit (minutes)</label>
        </div>
      </div>

      <div class="row">
        <div class="col input-field s6">
          <i class="mdi-communication-email prefix"></i>
          <input id="" type="text" class="validate" 
          ng-keypress="addInvite($event)" ng-model="email"/>
          <label for="email">E-Mail</label>
        </div>
      </div>

      <div class="row">
        <div class="col input-field s12">
 
          <ul class="collection">
            <li class="collection-item" ng-repeat="invite in invites">
              <span>{{ invite }}</span>
              <span class="rm secondary-content red-text" ng-click="removeInvite($index)">X</span>
            </li>
          </ul>

        </div>
      </div>

      <div class="card-panel red white-text" ng-show="err">{{ errMsg }}</div>
      <button class="btn" type="submit">Create!</button>

    </div>
  </div>

</form>

