<form ng-submit>
  <h3>Register</h3>
  <div class="row">
    <div class="col s12">

      <div class="row">
        <div class="col input-field s6">
          <i class="mdi-communication-email prefix"></i>
          <input id="email" type="text" class="validate" />
          <label for="email">E-Mail</label>
        </div>
      </div>

      <div class="row">
        <div class="col input-field s6">
          <i class="mdi-action-lock prefix"></i>
          <input id="pw" type="password" class="validate" />
          <label for="pw">Password</label>
        </div>
      </div>

      <button class="btn" type="submit">Register</button>

    </div>
  </div>
</form>

