<form ng-submit="register()">
  <h3>Register</h3>
  <div class="row">
    <div class="col s12">

      <div class="row">
        <div class="col input-field s6">
          <i class="mdi-communication-email prefix"></i>
          <input id="email" type="text" class="validate" ng-model="email"/>
          <label for="email">E-Mail</label>
        </div>
      </div>

      <div class="row">
        <div class="col input-field s6">
          <i class="mdi-action-lock prefix"></i>
          <input id="pw" type="password" class="validate" ng-model="password"/>
          <label for="pw">Password</label>
        </div>
      </div>

      <button class="btn" type="submit">Register</button>

    </div>
  </div>
</form>

<div class="card-panel red" ng-show="err">{{ errMsg }}</div>
